{{ define "head" }}
    {{ $desc := .Page.Description | default (.Page.Content | safeHTML | truncate 150) -}}
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy"
        content="
            base-uri 'self';
            connect-src 'self';
            default-src 'none';
            font-src 'self' fonts.gstatic.com;
            form-action 'self';
            frame-src 'none';
            img-src 'self' data:;
            manifest-src 'self';
            media-src 'self';
            object-src 'none';
            script-src 'self';
            frame-ancestors 'none';
            style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
    ">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partialCached "head/stylesheet-core.html" . -}}

    {{ $page_modules := slice | append .Page.Params.modules }}
    {{- $modules := site.Params.modules.optional | intersect $page_modules -}}
    {{- range $index, $mod := $modules -}}
        {{- $source := printf "scss/%s.scss" $mod -}}
        {{- $target := printf "css/%s.css" $mod -}}
        {{- partial "head/stylesheet.html" (dict "source" $source "target" $target "core" false "page" .) }}
    {{- end -}}
    {{- if hasPrefix (lower .Site.Params.style.themeFontPath) "http" -}}
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link rel="stylesheet" href="{{ .Site.Params.style.themeFontPath | default "https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&display=swap" }}">
    {{- end -}}
    {{ partial "head/seo.html" . }}
    {{ partialCached "head/favicon.html" . -}}
    {{ if gt (len .Site.Languages) 1}}
    <meta name="lang" content="{{ .Site.Language }}">
    {{ end }}
{{ end }}